body{
    font-family: "Times New Roman";
    background-color: #FFFFFF;
}
    
h1	{
	background-color:	#a0a9c7;
	color:	#313131;
}

    
h2	{
	border-bottom:	2px	solid	black;
	border:	1px	solid	#1F81AA;
}

figure	{
	text-align:	center;
    
	background-color: #5F81AD;
    color: #FFFFFF;
}